{% load static %}

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>U Properties Ltd</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link href="{% static 'images/apple-touch-iconn.png' %}" type="img/x-icon" rel="shortcut icon">
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <link rel="stylesheet" href="{% static 'css/shortcode/shortcodes.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- customizer style css -->
    <link rel="stylesheet" href="{% static 'css/style-customizer.css' %}">
    <link href="#" data-style="styles" rel="stylesheet">


    <!-- Modernizr JS -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    <div class="wrapper white_bg">
        <!--Header section start-->
        {% include 'includes/header.html' %}
        <!--Header section end-->
        <!--Breadcrumbs start-->
        <div class="breadcrumbs overlay-black">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumbs-inner">
                            <div class="breadcrumbs-title text-center">
                                <h1>Contact</h1>
                            </div>
                            <div class="breadcrumbs-menu">
                                <ul>
                                    <li><a href="{% url 'home' %}">Home /</a></li>
                                    <li>Contact</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumbs end-->

        <!--Contact page start-->
        <div class="contact-page pt-10">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 col-12">
                                <div class="contact-list-inner">
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <div class="single-contact_list">
                                                <div class="single-contact-icon">
                                                    <img src="{% static 'images/icon/c-4.png' %}" alt="">
                                                </div>
                                                <div class="single-contact-desc">
                                                    <h6>547/2, 3rd Floor, ECB Chattar</h6>
                                                    <h6>Dhaka Cantonment, Dhaka 1206</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12 ">
                                            <div class="single-contact_list">
                                                <div class="single-contact-icon">
                                                    <img src="{% static 'images/icon/c-5.png' %}" alt="">
                                                </div>
                                                <div class="single-contact-desc">
                                                    <h6>Telephone : +880 1975 353534</h6>
                                                    <h6>Telephone : +880 1970 706077</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <div class="single-contact_list">
                                                <div class="single-contact-icon">
                                                    <img src="{% static 'images/icon/c-6.png' %}" alt="">
                                                </div>
                                                <div class="single-contact-desc">
                                                    <h6>Email : info@upropertiesltd.com</h6>
                                                    <h6>Web : www.upropertiesltd.com</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="leave-message">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 col-12">
                                    <div class="contact-form-inner">
                                        <div class="contact-form-title">
                                            <h5>Leave a Message</h5>
                                        </div>
                                        <form id="contact-form" action="https://preview.hasthemes.com/haven-preview/haven/mail.php" method="post">
                                            <input name="con_name" type="text" placeholder="Your Name">
                                            <input  name="con_email" type="text" placeholder="Email here">
                                            <textarea name="con_message" placeholder="Write here"></textarea>
                                            <div class="form-submit">
                                                <button type="submit">Submit</button>
                                            </div>
                                            <p class="form-messege"></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Contact page end-->
        <!-- Google Map ECB Chattar -->
        <div class="row">
    <div class="col-12 text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29199.102929274715!2d90.35652011059936!3d23.82258616832395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c6c2ab936b87%3A0xcaa915c4069493be!2sECB%20Chattar%2C%20Dhaka!5e0!3m2!1sen!2sbd!4v1712940850535!5m2!1sen!2sbd"
                width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">

        </iframe>
    </div>
</div>

        <!--Brand section start-->
        <div class="brand-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="brand-list owl-carousel">
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'images/brand/1.png' %}" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'images/brand/2.png' %}" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'images/brand/3.png' %}" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'images/brand/4.png' %}" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'images/brand/5.png' %}" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'images/brand/1.png' %}" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'images/brand/2.png' %}" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'images/brand/3.png' %}" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'images/brand/4.png' %}" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="{% static 'images/brand/5.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!--Brand section end-->
         <!-- Footer section start -->
        {% include 'includes/footer.html' %}
        <!-- Footer section end -->


        </div>
        <!-- quick view start -->
        <div class="modal fade" role="dialog" tabindex="-1" id="quick-view">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="register-page-form">
                            <div data-dismiss="modal" class="modal-header">
                                <span>x</span>
                            </div>
                            <div class="account-title">
                                <h5>Login</h5>
                            </div>
                            <form action="#">
                                <div class="username">
                                    <input type="text" placeholder="Username">
                                </div>
                                <div class="password">
                                    <input type="password" placeholder="Password">
                                </div>
                                <div class="agree-text">
                                    <p><input type="checkbox"> <span>Remember me</span></p>
                                </div>
                                <div class="lost-password">
                                    <p><a href="#">Lost your password?</a></p>
                                </div>
                                <div class="login">
                                    <button type="button">Sign in</button>
                                </div>
                            </form>
                            <div class="login-with-another">
                                <a class="facebook" href="#"><i class="icofont icofont-social-facebook"></i> Login with
                                    Facebook</a>
                                <a class="linkedin" href="#"><i class="icofont icofont-brand-linkedin"></i> Login with
                                    Linkedin</a>
                                <a class="google" href="#"><i class="icofont icofont-social-google-plus"></i> Login with
                                    Google</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Map js code here -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAj9b_nyz33KEaocu6ZOXRgqwwUZkDVEAw"></script>
   <script src="js/map.js"></script>
   <script src="js/map-2.js"></script>

    <!-- All jquery file included here -->
     <script src="{% static 'js/vendor/jquery-1.12.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nivo.slider.pack.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/ajax-mail.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/style-customizer.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

<!-- Mirrored from preview.hasthemes.com/haven-preview/haven/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Apr 2024 19:14:29 GMT -->
</html>

